section.slides 
    .container
        .slides__item.active 
            .slides__item-content
                .slides__item-title Доска Бильгоу
                .slides__item-text Cпециально разработанное устройство для работы над стимуляцией мозжечка. 
                    |Принцип работы балансировочной доски: Ребенок стоит на доске, которая закреплена на округлой основе,
                    | что заставляет его удерживать равновесие.
                a.slides__item-button(href="#") Узнать подробности
            .slides__item-img 
                +pictureType('img/slides__girl.png','girl','')
        .slides__item 
            .slides__item-content
                .slides__item-title Стойка с мишенями-целями
                .slides__item-text Стойка регулируется по высоте (от 60 до 120 см) стойка, На стойке расположено 5 мишеней-целей. 
                a.slides__item-button(href="#") Узнать подробности
            .slides__item-img 
                +pictureType('img/slides__rack.png','rack','')
        .slides__item 
            .slides__item-content
                .slides__item-title Доска Бильгоу
                .slides__item-text Один из тренажеров для мозжечковой стимуляции. 
                    |Для успешного выполнения заданий необходимо регулировать...
                a.slides__item-button(href="#") Узнать подробности
            .slides__item-img 
                +pictureType('img/slides__eight.png','eight','')
              